<div class="container" #keepScrollDown id="chatDisplay" style="overflow: auto; height: 80%;">
  <ng-template message-host></ng-template>
  <div class="row justify-content-center">
    <span *ngIf="botTyping" class="badge badge-primary">Bot is typing ...</span>
    <span *ngIf="attachmentUploading" class="badge badge-primary">Attachment is getting uploaded ...</span>
  </div>
</div>

<div class="container" id="chatInput">
  <div class="row input-group m-1">
    <input type="text" class="form-control" placeholder="Type your message here..." id="textMessage" [(ngModel)]="textMessage"
      (keydown.enter)="sendRequest()" autofocus>
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="sendRequest()">Send</button>
    </div>
  </div>
  <div class="row input-group m-1">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="attachment" (change)="onFileChange($event)" #attachment>
      <label class="custom-file-label" for="attachment">{{ getFileName() }}</label>
    </div>
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button" (click)="clearFileSelection()">Clear</button>
    </div>
  </div>
</div>