<div [ngClass]="{
  'bg-success text-white text-right': sender === 'You',
  'bg-light': sender === 'ChatBot'
}" class="card round">
<div class="card-body table-responsive-sm">
  <p class="card-title">
    <b>{{ sender }}</b>
  </p>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" *ngFor="let headerCell of message.header">
            {{ headerCell }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of message.rows">
          <td *ngFor="let rowCell of row">
            <div [ngSwitch]="isA(rowCell)">
              <button class="btn btn-primary" *ngSwitchCase="'quickReply'" (click)="sendTextMessage(replaceType(rowCell))" [disabled]="buttonStatus">{{ replaceType(rowCell) }}</button>
              <p *ngSwitchDefault>{{ rowCell }}</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>
</div>