/* You can add global styles to this file, and also import other style files */
html, body {
	height: 100%;
}
.round {
    border-radius: 30px;
    margin: 10px;
}

.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	right: -25px;
  	top: 30%;
	border: 12px solid;
	border-color: #6c757d transparent transparent #6c757d;
}

.tri-left.left-in:after{
	content: ' ';
	position: absolute;
  	left: -25px;
  	top: 30%;
	border: 12px solid;
	border-color: #f8f9fa #f8f9fa transparent transparent;
}